EXPO_PUBLIC_API_BASE_URL=https://example.com
EXPO_PUBLIC_ENV=dev
EXPO_PUBLIC_GOOGLE_LOGIN_WEB_CLIENT_ID=
EXPO_PUBLIC_NAVER_LOGIN_CLIENT_ID=
EXPO_PUBLIC_NAVER_LOGIN_CLIENT_SECRET=
EXPO_PUBLIC_ADMOB_NATIVE_IOS_ID=
EXPO_PUBLIC_ADMOB_NATIVE_ANDROID_ID=
EXPO_PUBLIC_ADMOB_SEARCH_KEYWORD_NATIVE_IOS_ID=
EXPO_PUBLIC_ADMOB_SEARCH_KEYWORD_NATIVE_ANDROID_ID=
EXPO_PUBLIC_KAKAO_NATIVE_APP_KEY=
RECIPEAPP_UPLOAD_STORE_FILE=
RECIPEAPP_UPLOAD_STORE_PASSWORD=
RECIPEAPP_UPLOAD_KEY_ALIAS=
RECIPEAPP_UPLOAD_KEY_PASSWORD=
